/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

header {
  background-color: #ffffff;
  box-sizing: border-box;
}

.container1 {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 60px;
  padding-bottom: 10px;
  padding-top: 10px;
  flex-direction: row;
}

.container2 > div > img {
  width: 152px;
  height: 40px;
}

.container3 {
  display: flex;
  align-items: center;
}

.item5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  background-color: #fe8c12;
  border-radius: 2px;
  width: 160px;
  height: 50px;
}

.item5 > img {
  padding-left: 10px;
}

.item3 {
  height: 30px;
  border: 0.01em solid black;
  margin-right: 30px;
  opacity: 0.05;
}

.item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -10px;
}
.item3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  width: 100%;
  position: static;
  height: 50px;
  background-color: blue;
}

.navi1 {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
  color: white;
  background-color: #0a0a0b;
}

.navi2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #0a0a0b;
  padding-left: 30px;
}

.navi2 > div {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-right: 30px;
}

.navi2 > div:nth-of-type(1) {
  color: #fe8c12;
}
.navi3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #0a0a0b;
  padding-right: 30px;
}

.navi3 > div:nth-of-type(3) > img {
  height: 40px;
  width: 130px;
}
.navi3 > div:nth-of-type(2) {
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  opacity: 0.2;
  margin-right: 40px;
}
.navi3 > div:nth-of-type(1) > img {
  padding-right: 20px;
}

.section1 {
  background-color: blue;
  width: 100%;
}
.section1Child {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
  align-content: inherit;
  box-sizing: border-box;
}

.section1Child > p:nth-of-type(1) {
  text-transform: uppercase;
  font-family: "Open Sans";
  color: #fe8c12;
  position: absolute;
}

.section1Child > h1 {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 90px;
  text-transform: uppercase;
  line-height: 110px;
}

.section1Child > p:nth-of-type(2) {
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 24px;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  background-color: #fe8c12;
  border-radius: 2px;
  width: 160px;
  height: 50px;
}

.quote > div:nth-of-type(1) > img {
  padding-left: 10px;
}

.quote > div:nth-of-type(2) > img {
  padding-right: 70em;
  height: 50px;
}

.pagination {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.pagination > div > img {
  padding-left: 10px;
  height: 40px;
}

.section2 {
  background-color: rgb(6, 255, 56);
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
}

.section2Child {
  margin: auto;
  padding-top: 70px;
  padding-left: 70px;
  width: 70%;
}

.apa {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  background-color: #fe8c12;
  border-radius: 2px;
  width: 160px;
  height: 50px;
}

.apa > img {
  padding-left: 10px;
}

.gatau {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
  width: 40%;
  background-image: url(./assets/img/BG.png);
}

.gatau3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  color: #0a0a0b;
}

.play {
  z-index: 3;
  width: 80%;
  border: 1px solid black;
}
.play1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.play2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.section3 {
  width: 100%;
  background-color: rgb(255, 218, 6);
  height: 70vh;
}

.section3Child {
  margin: auto;
  width: 70%;
}

.dua {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.kotak {
  border: 1px solid black;
  height: 380px;
  width: 23%;
  background-color: gray;
}

.font1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.font2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fe8c12;
}

.fontKonten {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 210px;
  padding-left: 40px;
}

.satu {
  padding: 30px 0 30px 0;
}

.satu > div:nth-of-type(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #fe8c12;
}

.satu > div:nth-of-type(2) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  color: #0a0a0b;
}

.garis {
  letter-spacing: -2px;
}

.imgIconBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 40px;
  padding-right: 30px;
}
.imgIconBox > img {
  height: 35px;
}

.tulisan {
  padding: 30px 0 30px 0;
}

.tulisan > div:nth-of-type(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #fe8c12;
}

.tulisan > div:nth-of-type(2) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  text-transform: uppercase;
  color: #ffffff;
}

.garis2 {
  letter-spacing: -2px;
}

.section4 {
  width: 100%;
  background-color: black;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section4Child {
  width: 70%;
  margin: auto;
  margin-top: 60px;
}

.tulisan2 {
  font-family: "Roboto";
  color: #cdced0;
  padding: 5px 0 35px 0;
}

.tulisan3,
.tulisan4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.bungkus {
  width: 50%;
}
.bungkus > div {
  padding-right: 30px;
  display: flex;
  justify-content: space-around;
}

.kotak2 {
  padding-left: 300px;
  width: 100px;
  height: 60vh;
  background-color: aliceblue;
  border: 1px solid ghostwhite;
}

.konten3 {
  padding-left: 190px;
}

.section5 {
  width: 100%;
  background-color: rgb(2, 185, 252);
  height: 60vh;
}

.section5Child {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

.icon1 > div:nth-of-type(1) {
  position: absolute;
  padding-left: 250px;
}

.text1 > div:nth-of-type(1) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
  color: #0a0a0b;
}
.text1 > div:nth-of-type(2) {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  padding-top: 40px;
  text-transform: uppercase;
  color: #0a0a0b;
}

.text2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fe8c12;
}

.text3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon2 {
  display: flex;
  flex-direction: row;
}
.icon2 > div {
  padding-left: 20px;
}

.ctengah > div {
  padding-right: 12px;
}

.ctengah {
  border: 1px solid #fe8c12;
  width: 10px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section6 {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section6Child {
  width: 70%;
  margin: auto;
  margin-top: 60px;
}

.section6Child > div:nth-of-type(2) {
  padding-top: 80px;
}
